-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: seperlima
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anggota`
--

DROP TABLE IF EXISTS `anggota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anggota` (
  `id_anggota` int NOT NULL AUTO_INCREMENT,
  `id_prodi` int DEFAULT NULL,
  `no_identitas` varchar(50) NOT NULL,
  `status` enum('mahasiswa','dosen','tendik') NOT NULL,
  `nama_anggota` varchar(150) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id_anggota`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_anggota_prodi` (`id_prodi`),
  CONSTRAINT `fk_anggota_prodi` FOREIGN KEY (`id_prodi`) REFERENCES `program_studi` (`id_prodi`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggota`
--

LOCK TABLES `anggota` WRITE;
/*!40000 ALTER TABLE `anggota` DISABLE KEYS */;
/*!40000 ALTER TABLE `anggota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buku`
--

DROP TABLE IF EXISTS `buku`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buku` (
  `id_buku` int NOT NULL AUTO_INCREMENT,
  `id_judul` int NOT NULL,
  `id_klasifikasi` int NOT NULL,
  `tahun_terbit` year DEFAULT NULL,
  `isbn` varchar(30) DEFAULT NULL,
  `status` enum('Tersedia','Hilang','Dipinjam','Rusak') NOT NULL DEFAULT 'Tersedia',
  `eksemplar` varchar(10) NOT NULL,
  PRIMARY KEY (`id_buku`),
  KEY `fk_buku_judul` (`id_judul`),
  KEY `fk_buku_klasifikasi` (`id_klasifikasi`),
  CONSTRAINT `fk_buku_judul` FOREIGN KEY (`id_judul`) REFERENCES `judul` (`id_judul`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_buku_klasifikasi` FOREIGN KEY (`id_klasifikasi`) REFERENCES `klasifikasi` (`id_klasifikasi`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buku`
--

LOCK TABLES `buku` WRITE;
/*!40000 ALTER TABLE `buku` DISABLE KEYS */;
INSERT INTO `buku` VALUES (1,1,7,2018,'978-602-001-001','Tersedia','c.1'),(2,2,7,2020,'978-602-002-002','Tersedia','c.1'),(3,3,4,2017,'978-602-003-003','Rusak','c.1'),(4,4,4,2019,'978-602-004-004','Tersedia','c.1'),(5,5,6,2021,'978-602-005-005','Tersedia','c.1'),(6,6,6,2016,'978-602-006-006','Tersedia','c.1'),(7,7,4,2015,'978-602-007-007','Hilang','c.1'),(8,8,4,2022,'978-602-008-008','Tersedia','c.1'),(9,5,6,2022,'978-602-005-006','Tersedia','c.2'),(10,1,7,2019,'978-602-001-002','Tersedia','c.2');
/*!40000 ALTER TABLE `buku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buku_pengarang`
--

DROP TABLE IF EXISTS `buku_pengarang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buku_pengarang` (
  `id_buku_pengarang` int NOT NULL AUTO_INCREMENT,
  `id_buku` int NOT NULL,
  `id_pengarang` int NOT NULL,
  `urutan_pengarang` int DEFAULT NULL,
  PRIMARY KEY (`id_buku_pengarang`),
  KEY `fk_bp_buku` (`id_buku`),
  KEY `fk_bp_pengarang` (`id_pengarang`),
  CONSTRAINT `fk_bp_buku` FOREIGN KEY (`id_buku`) REFERENCES `buku` (`id_buku`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bp_pengarang` FOREIGN KEY (`id_pengarang`) REFERENCES `pengarang` (`id_pengarang`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buku_pengarang`
--

LOCK TABLES `buku_pengarang` WRITE;
/*!40000 ALTER TABLE `buku_pengarang` DISABLE KEYS */;
INSERT INTO `buku_pengarang` VALUES (1,1,1,1),(2,2,2,1),(3,3,3,1),(4,4,4,1),(5,5,5,1),(6,6,6,1),(7,7,7,1),(8,8,2,1),(9,8,3,2),(10,9,5,1),(11,10,1,1);
/*!40000 ALTER TABLE `buku_pengarang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fakultas`
--

DROP TABLE IF EXISTS `fakultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fakultas` (
  `id_fakultas` int NOT NULL AUTO_INCREMENT,
  `kode_fakultas` varchar(20) NOT NULL,
  `nama_fakultas` varchar(150) NOT NULL,
  PRIMARY KEY (`id_fakultas`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fakultas`
--

LOCK TABLES `fakultas` WRITE;
/*!40000 ALTER TABLE `fakultas` DISABLE KEYS */;
INSERT INTO `fakultas` VALUES (1,'FSTI','Fakultas Sains dan Teknologi Informasi'),(2,'FPB','Fakultas Pembangunan Berkelanjutan'),(3,'FRTI','Fakultas Rekayasa dan Teknologi Industri');
/*!40000 ALTER TABLE `fakultas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `judul`
--

DROP TABLE IF EXISTS `judul`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `judul` (
  `id_judul` int NOT NULL AUTO_INCREMENT,
  `kode_judul` varchar(20) NOT NULL,
  `judul` varchar(255) NOT NULL,
  PRIMARY KEY (`id_judul`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `judul`
--

LOCK TABLES `judul` WRITE;
/*!40000 ALTER TABLE `judul` DISABLE KEYS */;
INSERT INTO `judul` VALUES (1,'PW','Pemrograman Web dengan PHP'),(2,'BD','Sistem Basis Data Lanjut'),(3,'MP','Manajemen Pemasaran'),(4,'MPN','Metode Penelitian Kuantitatif'),(5,'ASD','Algoritma dan Struktur Data'),(6,'SPM','Strategi Pembelajaran Matematika'),(7,'AB','Akuntansi Biaya'),(8,'SIM','Pengantar Sistem Informasi Manajemen');
/*!40000 ALTER TABLE `judul` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `klasifikasi`
--

DROP TABLE IF EXISTS `klasifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `klasifikasi` (
  `id_klasifikasi` int NOT NULL AUTO_INCREMENT,
  `kode_klasifikasi` varchar(10) NOT NULL,
  `kategori_buku` varchar(100) NOT NULL,
  PRIMARY KEY (`id_klasifikasi`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `klasifikasi`
--

LOCK TABLES `klasifikasi` WRITE;
/*!40000 ALTER TABLE `klasifikasi` DISABLE KEYS */;
INSERT INTO `klasifikasi` VALUES (1,'000','Karya Umum'),(2,'100','Filsafat'),(3,'200','Agama'),(4,'300','Ilmu-ilmu Sosial'),(5,'400','Bahasa'),(6,'500','Ilmu-ilmu Murni'),(7,'600','Ilmu-ilmu Terapan'),(8,'700','Seni & Olahraga'),(9,'800','Kesusastraan'),(10,'900','Geografi dan Sejarah');
/*!40000 ALTER TABLE `klasifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peminjaman`
--

DROP TABLE IF EXISTS `peminjaman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `peminjaman` (
  `id_peminjaman` int NOT NULL AUTO_INCREMENT,
  `id_anggota` int NOT NULL,
  `id_petugas` int NOT NULL,
  `id_buku` int NOT NULL,
  `tgl_pinjam` datetime NOT NULL,
  `tgl_kembali` datetime DEFAULT NULL,
  `durasi_peminjaman` int DEFAULT NULL,
  `denda_buku` int DEFAULT '0',
  PRIMARY KEY (`id_peminjaman`),
  KEY `fk_peminjaman_anggota` (`id_anggota`),
  KEY `fk_peminjaman_petugas` (`id_petugas`),
  KEY `fk_peminjaman_buku` (`id_buku`),
  CONSTRAINT `fk_peminjaman_anggota` FOREIGN KEY (`id_anggota`) REFERENCES `anggota` (`id_anggota`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_peminjaman_buku` FOREIGN KEY (`id_buku`) REFERENCES `buku` (`id_buku`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_peminjaman_petugas` FOREIGN KEY (`id_petugas`) REFERENCES `petugas` (`id_petugas`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peminjaman`
--

LOCK TABLES `peminjaman` WRITE;
/*!40000 ALTER TABLE `peminjaman` DISABLE KEYS */;
/*!40000 ALTER TABLE `peminjaman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengarang`
--

DROP TABLE IF EXISTS `pengarang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengarang` (
  `id_pengarang` int NOT NULL AUTO_INCREMENT,
  `kode_pengarang` varchar(10) NOT NULL,
  `nama_pengarang` varchar(150) NOT NULL,
  PRIMARY KEY (`id_pengarang`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengarang`
--

LOCK TABLES `pengarang` WRITE;
/*!40000 ALTER TABLE `pengarang` DISABLE KEYS */;
INSERT INTO `pengarang` VALUES (1,'AKD','Abdul Kadir'),(2,'RSA','Rosa A.S'),(3,'PKT','Philip Kotler'),(4,'SGN','Sugiyono'),(5,'THC','Thomas H. Cormen'),(6,'RFG','Richard F. Gagne'),(7,'MLD','Mulyadi');
/*!40000 ALTER TABLE `pengarang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `petugas`
--

DROP TABLE IF EXISTS `petugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `petugas` (
  `id_petugas` int NOT NULL AUTO_INCREMENT,
  `nama_petugas` varchar(150) NOT NULL,
  `no_hp` varchar(30) DEFAULT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_petugas`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `petugas`
--

LOCK TABLES `petugas` WRITE;
/*!40000 ALTER TABLE `petugas` DISABLE KEYS */;
INSERT INTO `petugas` VALUES (1,'Slamet Riyadi','081234567001','Jl. Kenanga No. 1'),(2,'Lina Marlina','081234567002','Jl. Mawar No. 5'),(3,'Doni Prasetyo','081234567003','Jl. Melati No. 10');
/*!40000 ALTER TABLE `petugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_studi`
--

DROP TABLE IF EXISTS `program_studi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `program_studi` (
  `id_prodi` int NOT NULL AUTO_INCREMENT,
  `id_fakultas` int NOT NULL,
  `nama_prodi` varchar(150) NOT NULL,
  `jenjang` varchar(10) NOT NULL,
  PRIMARY KEY (`id_prodi`),
  KEY `fk_prodi_fakultas` (`id_fakultas`),
  CONSTRAINT `fk_prodi_fakultas` FOREIGN KEY (`id_fakultas`) REFERENCES `fakultas` (`id_fakultas`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_studi`
--

LOCK TABLES `program_studi` WRITE;
/*!40000 ALTER TABLE `program_studi` DISABLE KEYS */;
/*!40000 ALTER TABLE `program_studi` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-10 15:20:40
